
<html>
<head>
  <meta charset="UTF-8">
  <title> The Card Game </title>
</head>
<body>
  <div> I guess this is working well </div>
  <% cards.each_with_index do |card, index| %>
    <div>
      <p> Card <%= index + 1 %></p>
      <p> Number: <%= card[:number] %></p>
      <p> Shape: <%= card[:shape] %> </p>
      <p> Color: <%= card[:color] %> </p>
      <p> Fill: <%= card[:fill] %> </p>
    </div>
  <% end %>

<h3> <%= set.to_s %></h3>
<% if set == true  %>
  <button> There is a Set ! </button>
<% else %>
  <button> There's no Set! </button>
<% end %>

<a href="/"> Give me new numbers! </a>

</body>
</html>
